$fuente_principal: "AscenderSans", sans-serif;

// Colores
$primari-color: #dc0988;
$negro: #000000;
$blanco: #f7f7f7;

// MEDIA QUERIES
$telefono-mini: 290px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
