.layout {
  width: 100%;
  min-width: 1600px;
  height: 100%;
}

// ESTILOS MENU NAVEGACION Y CABECERA DE LA WEB
.layout__menu {
  width: 100%;
  padding: 5rem 9.5rem;
}

.menu__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 200px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav__item {
  position: relative;
  margin: 0 2.4rem;
}

.nav__title {
  font-family: $fuente_principal;
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: $tertiary-color;
  transition: all 300ms ease-in-out;
}

.nav__title-svg {
  display: flex;
}

.nav__title {
  i {
    img {
      width: 23px;
      font-size: 1rem;
      font-weight: bold;
      padding-left: 0.2rem;
      vertical-align: middle;
    }
  }
}

// LUGGAR
.nav__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav__link:hover {
  color: $primari-color;
}

.nav__link::before {
  content: "";
  height: 0.2rem;
  width: 0;
  background-color: $primari-color;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  opacity: 0;
  transition: 500ms;
}

.nav__link:hover::before {
  width: 100%;
  opacity: 1;
}

.nav__submenu-item {
  display: block;
  position: absolute;
  top: 100%;
  left: 2rem;
  min-width: 19rem;
  padding: 1.5rem 1rem;
  border-radius: 4px;
  background-color: var(--color--secondary);
  box-shadow: 0 13px 48px 0 rgba(0, 0, 0, 15%);
  //opacity: 0;
  //visibility: hidden;
  transition: all 300ms ease-in-out;
}
// Borrar al final
.nav__submenu {
  display: none;
}
