.layout {
  width: 100%;
  min-width: 1600px;
  height: 100%;
}

// ESTILOS MENU NAVEGACION Y CABECERA DE LA WEB
.layout__menu {
  width: 100%;
  padding: 5rem 9.5rem;
}

.menu__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 200px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav__item {
  position: relative;
  margin: 0 2.4rem;
}

.nav__title {
  font-size: 1.6rem;
  font-family: $fuente_principal;
  position: relative;
  display: inline-block;
  line-height: 6rem;
  font-weight: 600;
  color: $tertiary-color;
  transition: all 300ms ease-in-out;
}

.nav__title-svg {
  display: flex;
}

.nav__title {
  i {
    img {
      width: 23px;
      font-size: 1rem;
      font-weight: bold;
      padding-top: 1.8rem;
      padding-left: 0.2rem;
      vertical-align: middle;
      transition: all 300ms ease-in-out;
    }
  }
}

.nav__title:hover {
  color: $primari-color;
  i {
    img {
      // CSS filter generator to convert from black to target hex color
      filter: invert(78%) sepia(29%) saturate(517%) hue-rotate(164deg)
        brightness(96%) contrast(88%);
    }
  }
}

.nav__title::before {
  content: "";
  height: 0.2rem;
  width: 0;
  background-color: $primari-color;
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  opacity: 0;
  transition: 500ms;
}

.nav__title:hover::before {
  width: 100%;
  opacity: 1;
}

.nav__submenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 2rem;
  min-width: 19rem;
  padding: 1.5rem 1rem;
  border-radius: 4px;
  background-color: $blanco;
  box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.submenu__item {
  opacity: 0;
  transform: translate(2rem);
  transition: all 100ms ease-in-out;
  &:nth-child(1) {
    transition-delay: 100ms;
  }
  &:nth-child(2) {
    transition-delay: 200ms;
  }
  &:nth-child(3) {
    transition-delay: 300ms;
  }
  &:nth-child(4) {
    transition-delay: 400ms;
  }
  &:nth-child(5) {
    transition-delay: 500ms;
  }
}

.submenu__title {
  display: block;
  position: relative;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color: $tertiary-color;
  padding: 0.7rem 1.5rem;
  transition: all 300ms ease-in-out;
}

.nav__item {
  &:hover {
    > .nav__submenu {
      opacity: 1;
      visibility: visible;
      z-index: 999;
      left: 0;
    }
  }
}

.nav__item {
  &:hover {
    .submenu__item {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// FIN ESTILOS MENU NAVEGACION Y CABECERA DE LA WEB

/* ESTILOS PARA EL BANNER */

.layout__banner {
  position: relative;
  min-height: 60rem;
  margin: 0 3rem;
  padding-right: 0;
  padding-left: 10rem;
  padding-top: 15rem;
  padding-bottom: 20rem;
  border-radius: 60px;
  overflow: hidden;
  background-color: $primari-color;
}

.banner__content {
  display: inline-block;
  width: 50%;
  padding: 0 1.5rem;
}

.banner__title {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2;
  color: $blanco;
}

.banner__btn {
  display: inline-block;
  padding: 2.8rem 4.5rem;
  border-radius: 20px;
  background-color: $blanco;
  color: $primari-color;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0px 45px 80px -25px var($tertiary-color);
}
/* FIN ESTILOS PARA EL BANNER */
