body {
  margin: 0;
  @include desktop {
    margin: 5rem;
  }
}
.layout {
  background-color: $blanco;
  border-radius: 1rem;
  overflow: hidden;

  @include telefono-mini {
    padding: 0 0 0.4rem 0;
  }

  @include telefono {
    padding: 0 0 1.4rem 0;
  }

  @include tablet {
    display: flex;
  }

  @include desktop {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin: 4rem 6rem;
    padding: 0;
  }

  .layout__content {
    display: none;
    height: 75rem;

    @include desktop {
      display: block;
      flex: 1;
      width: 30rem;
      height: 72rem;
      overflow: hidden;
    }
  }
}

video {
  width: 100%;
  @include desktop {
    width: 79rem;
  }

  @include desktopXL {
    width: 83rem;
  }
}

.layout__cards {
  flex: 1;

  .cards__logo {
    margin-top: 3rem;

    @include telefono-mini {
      width: 31rem;
      margin: 3.6rem auto;
    }

    @include tablet {
      margin: 2.8rem auto;
    }

    @include desktop {
      width: 25rem;
      margin: 0 auto;
    }
  }
}

.cards__button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .button__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include tablet {
      gap: 4rem;
    }

    @include desktop {
      gap: 3rem;
    }
  }
}

li {
  border: 0.2rem solid $primari-color;
  border-radius: 0.8rem;
  -webkit-transition: border-radius 1s ease-in-out, box-shadow 1s ease-in-out;
  transition: border-radius 1s ease-in-out, box-shadow 1s ease-in-out;

  &:hover {
    border-radius: 0rem;
    box-shadow: inset -9em 0 0 0 $primari-color, inset 9em 0 0 0 $primari-color;

    @include tablet {
      box-shadow: inset -13em 0 0 0 $primari-color,
        inset 13em 0 0 0 $primari-color;
    }

    @include desktop {
      box-shadow: inset -9em 0 0 0 $primari-color,
        inset 9em 0 0 0 $primari-color;
    }
  }

  &:hover .button {
    color: $blanco;
    border-radius: 0.8rem;
    transition: color 2s ease-in-out, border-radius 1s ease-in-out;
  }

  &:hover .icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(8deg)
      brightness(162%) contrast(100%);
    transition: filter 2s ease-in-out;
  }
}

.button {
  /* Otros estilos de .button */
  transition: color 2s ease-in-out, border-radius 1s ease-in-out;
}

.icon {
  /* Otros estilos de .icon */
  transition: filter 2s ease-in-out;
}

a.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5rem;
  // justify-content: center;
  gap: 4rem;

  img {
    width: 5rem;
  }
}

.button {
  font-size: 2rem;
  color: $primari-color;
  display: inline-block;
  text-decoration: none;
  height: 4.8rem;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0.8rem;
  cursor: pointer;
  box-sizing: border-box;

  @include telefono-mini {
    font-size: 2rem;
    width: 30rem;
    padding: 0 1.6rem;
  }

  @include tablet {
    height: 6.8rem;
    width: 45rem;
    padding: 0 8rem;
  }

  @include desktop {
    height: 4.8rem;
    width: 30rem;
    padding: 0 1.6rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  @include telefono-mini {
    background-color: $blanco;
    margin: 0;
    padding: 3rem;
    font-size: 1.6rem;
  }

  @include telefono {
    background-color: $blanco;
  }

  @include tablet {
    padding: 3rem 0 11rem 0;
    background-color: $blanco;
  }

  @include desktop {
    background-color: transparent;
    padding: 0;
  }

  a {
    color: $primari-color;
    padding-left: 1rem;
  }
}
