@font-face {
  font-family: "Roboto Light";
  src: url("build/fonts/roboto/Roboto-Light") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("build/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; // Peso 500
}
